@using CourseSeller.Core.DTOs.Course
@model Tuple<List<CourseSeller.Core.DTOs.Course.ShowCourseForListViewModel>,int,int,int>
@{
    ViewData["Title"] = "خانه";
}


@section SearchBox
    {
    <partial name="_SearchBox"/>
}


<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> آخرین دوره های @conf["SiteName"] </h2>
                <a href="/"> مشاهده همه دوره ها </a>
            </header>
            <div class="row">
                <!-- col -->
                
                @foreach (var item in Model.Item1)
                {
                    <partial name="_CourseBox" model="@item"/>
                }

                <!-- /col -->
            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> دوره های محبوب @conf["SiteName"] </h2>
                <a asp-controller="Course" asp-action="Index"> مشاهده همه دوره ها </a>
            </header>
            
            @{
                var popular = ViewData["PopularCourses"] as List<ShowCourseForListViewModel>;
            }

            @if (popular != null)
            {
                @foreach (var item in popular )
                {
                    <partial name="_CourseBox" model="@item"/>
                }
            }

        </section>
    </div>
</main>