@model CourseSeller.DataLayer.Entities.Users.User


<div style="direction: rtl !important; margin: 2%">
    <h2>@Model.UserName عزیز!</h2>
    <p>رمز عبور حساب شما تغییر یافت!</p>
    <p>باتشکر @conf["SiteName"] !</p>
</div>